@import "base-styles";

@font-face {
  font-family: 'Poppins-Light';
  src: url('../fonts/Poppins/Poppins-Light.eot');
  src: url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Light.woff') format('woff'),
       url('../fonts/Poppins/Poppins-Light.svg#Poppins-Light') format('svg'),
  //font-weight: normal;
 // font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins/Poppins-Medium.eot');
  src: url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Medium.woff') format('woff'),
       url('../fonts/Poppins/Poppins-Medium.svg#Poppins-Medium') format('svg'),
 //font-weight: normal;
 // font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins/Poppins-Regular.eot');
  src: url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
       url('../fonts/Poppins/Poppins-Regular.svg#Poppins-Regular') format('svg'),
 // font-weight: normal;
 // font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../fonts/Poppins/Poppins-SemiBold.eot');
  src: url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
       url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
       url('../fonts/Poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),

 // font-weight: normal;
 // font-style: normal;
}

@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/fontawesome-webfont.svg#fontawesome') format('svg'),


 // font-weight: normal;
 // font-style: normal;
}

/*Font styles*/

$p-light: 'Poppins-Light';
$p-medium: 'Poppins-Medium';
$p-semibold: 'Poppins-SemiBold';
$p-regular: 'Poppins-Regular';

/*END: Font styles*/