@mixin font-style( $fnt-family, $fnt-size, $color){
	font-family: $fnt-family;
	font-size: $fnt-size;
	color: $color;
}

@mixin padding-spacing($top, $bottom){
	padding-top: $top;
	padding-bottom: $bottom;
}