doctype html
html(lang='en')

	- var page_name = "sample"

	include jade/base/header.jade
	+header(page_name)

	body
		main
			h1 Lollypop Project
			
		include jade/base/scripts.jade
	
	include jade/base/footer.jade